<ion-content fullscreen>
  <ion-header>
    <ion-toolbar>
      <ion-title slot="start" style="font-family: sans-serif; font-weight: 600; font-size: large;"> SignIn </ion-title>
      <ion-label slot="end" style="font-family: sans-serif; font-weight: 600; font-size: large; padding-right: 10px;" (click)="Skip()"> Skip</ion-label>
    </ion-toolbar>
  </ion-header>
  
  <div style="padding-top: 100px; width: 80%; margin: auto;">
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-input type='email' placeholder='Email Address'></ion-input>
    </ion-item>
     
    <ion-item>
      <ion-icon name="eye-outline" slot="start"></ion-icon>
      <ion-input type='password' placeholder='Password'></ion-input>
    </ion-item>
  </div>


  <div style="width: 80%; text-align: center; margin: auto; margin-top: 20px;">
    <button class='signin'> SignIn</button>
  </div>
  
  <div style="text-align: center; margin: 7em 5% 0%;">
    <ion-label > Or Continue With </ion-label>

    <div style="width: 100%; display: inline-flex;">
      <button style="background-color: blue; color:white; flex: 1; border-radius: 25px; margin: 5% 2.5%; padding: 4%;">   Facebook</button>
      <button style="background-color: white; color: black; flex: 1; border-radius: 25px; margin: 5% 2.5%; padding: 4%;"> <ion-icon name="logo-google"></ion-icon>  Googles</button>
    </div>
  </div>

  <div style="text-align:center; width: 100%; position: absolute; bottom: 10px;">

    <ion-label> Not Registered yet?</ion-label>

    <button class="btnSignup" (click)='GoToSignUp()'> Sign Up</button>

  </div>
</ion-content>
