<ion-header class="ion-no-border" mode="md">
  <ion-toolbar> 
    <ion-title class="headtext"> Radio </ion-title>
    <ion-icon name="search-sharp" slot="end" class="settingIcon"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="headingText">
    Live Radio
  </div>
  <div class="horizontal">
    <ion-card *ngFor="let a of radioChannel" class="radioChannel" (click)="GoTo(a)">
      <img src={{a.bg}} width="100%" height="100%" style="filter: blur(2px);opacity: 0.5; ">
      <div class="textOver"> 
        <p class="text1">  {{a.chlnum}}  </p>  
        <p class="text2"> {{a.name}} </p>
      </div>
    </ion-card>
  </div>

  <div class="headingText">
    Mood Radio
  </div>

  <div class="horizontal">
    <ion-card *ngFor =  "let i of songstype" class="songtype"> 
        <img src={{i.bg}} style="background-color:green; opacity: 0.6; filter: blur(2px); height: 3rem; width: 100%;">
        <p class="songtypename"> {{ i.name }} </p>
    </ion-card>
  </div>


  <div class="headingText">
    Artist Radio
  </div>
  <div class="horizontal">
      <ion-card style="width: 8em; height: 10em; border-radius: 12px;" class="RecentSongs" *ngFor = "let i of art" >
        <img src={{i.bg}} style="width: 100%; height: 75%; border-radius: 12px;">
        <ion-label class="RecentSongTitle"> {{i.name}} </ion-label>
        <ion-icon name="play" class="pos"></ion-icon>
      </ion-card>
  </div>
  
  
  <div class="horizontal">
    <ion-card *ngFor =" let ad of ads" class="adcontent">
      <img src={{ad.src}} height="100px" width="100%">
    </ion-card>
  </div>
 

</ion-content>
