<ion-content>
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home-tabs">
        <ion-icon name="home-sharp"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="search-tabs">
        <ion-icon name="search-sharp"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="radio-tabs">
        <ion-icon name="radio-sharp"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="playlist-tabs">
        <ion-icon name="musical-notes-sharp"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>