

ion-content {
    z-index: -1;
    --background: none;
   // background-image: url('https://images.unsplash.com/photo-1569840471095-ffa5de0c4c33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=282&q=80');
    background-image:  url('https://images.unsplash.com/photo-1619229667032-e8700319c3c8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.blur{
    height: -webkit-fill-available;
    backdrop-filter: brightness(0.5);
}

/* Transparent standard */
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

/* Show background if class is active */
.show-background {
    border-style: none;
    background: var(--ion-color-primary);
}

/* Remove bottom border on md */
.header-md::after {
    background-image: none;
}

/* Remove bottom border on ios */
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

ion-item {
    --ion-item-background: transparent;
    margin: 20px 0px;
}

.signin {
    width: 90%;
    margin: auto;
    padding: 11px;
    border-radius: 25px;
    background-color: red;
    font-size: small;
    outline: none;
}

.btnSignup{
    width: 90%;
    margin: auto;
    padding: 11px;
    background: transparent;
    border-color: red;
    border-radius: 25px;
    border:groove;
    margin-top: 60px;
    outline: none;
    font-size: small;
}