<ion-content>
  <div style="width: 100%; height: 40%; background:url({{imageurl}}); background-position: center top;background-repeat: no-repeat; background-size: cover; " >
    <ion-header>
      <ion-toolbar>
        <ion-icon name="chevron-back-sharp" slot="start" class="headbtn" (click)="back()"></ion-icon>
        <ion-icon name="ellipsis-vertical-sharp" slot="end" class="headbtn"></ion-icon>
      </ion-toolbar>
    </ion-header>
   
    <div class="options">
      <ion-toolbar>
        <ion-icon name="chevron-back-sharp" slot="start" class="headbtn" (click)="back()"></ion-icon>
    
        <ion-icon name="ellipsis-vertical-sharp" slot="end" class="headbtn"></ion-icon>
      </ion-toolbar>
    </div>

  </div>

</ion-content>
