<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title center>OffBeat</ion-title>
    <ion-icon name="settings-sharp" slot="end" class="settingIcon"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="horizontal">
    <div *ngFor = "let i of art" class="storyArt">
      <ion-avatar>
        <img src={{i.bg}}>
      </ion-avatar>
      <ion-label class="storyArtName"> {{i.name}} </ion-label>
    </div>
  </div>

  <ion-label class="recenttitle"> Recently Played </ion-label>

  <div class="horizontal">
    <div *ngFor = "let i of recent" class="RecentSongs">
      <ion-card style="width: 8em; height: 8em;">
        <img src={{i.bg}}>
      </ion-card>
      <ion-label class="RecentSongTitle"> {{i.name}} </ion-label>
    </div>
  </div>

  <ion-label class="hozmood"> How is your Mood ?</ion-label>

  <div class="horizontal">
    <ion-card *ngFor =  "let i of songstype" class="songtype"> 
        <img src={{i.bg}} style="background-color:green; opacity: 0.6; filter: blur(2px);">
        <p class="songtypename"> {{ i.name }} </p>
    </ion-card>
  </div>

  <div class="horizontal">
    <ion-card *ngFor =" let ad of ads" class="adcontent">
      <img src={{ad.src}} height="100px" width="100%">
    </ion-card>
  </div>

  <ion-label class="hozmood"> Newly Lauched </ion-label>

  <div class="horizontal">
    <div *ngFor = "let i of art" class="RecentSongs">
      <ion-card style="width: 8em; height: 8em;">
        <img src={{i.bg}}>
      </ion-card>
      <ion-label class="RecentSongTitle"> {{i.name}} </ion-label>
    </div>
  </div>

  <ion-label class="hozmood"> Which Genres you like to listen? </ion-label>

  <div class="horizontal">
    <ion-card *ngFor =  "let i of songstype" class="songtype"> 
        <img src={{i.bg}} style="background-color:green; opacity: 0.6; filter: blur(2px);">
        <p class="songtypename"> {{ i.name }} </p>
    </ion-card>
  </div>

  <ion-label class="hozmood"> Recommended for you </ion-label>

  <div class="Recomd">
    <ion-card class="recomdCard" *ngFor =  "let i of art" >
      <img src={{i.bg}} height="100px" width="100%" >
    </ion-card>
  </div>
</ion-content>
