.horizontal{
    //padding: 1em .4em;
    padding: 0px 0.4em .5em;
    // display: inline-flex;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.settingIcon{
    margin: 0px 1em;
    font-size: large;
}

.storyArt{
    // flex: 1;
    margin: .4em;
    display: inline-block;
}

.storyArtName{
    display: inline-block;
    // overflow-wrap: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: pre-line;
    font-size: xx-small;
    font-family: sans-serif;
}

.recenttitle{
    display: block;
    font-size: small;
    padding: 1.2em  1em 0px;
    font-family: sans-serif;
}

.RecentSongs{
    display: inline-block;
    width: 30%;
}

.RecentSongTitle{
    display: inline-block;
    width: 30%;
    font-size: xx-small;
    font-family: sans-serif;
    font-weight: 600;
    margin: 0px 4px;
    padding: 0em 1em;
}

.hozmood{
    font-size: medium;
    font-family: sans-serif;
    font-weight: 500;
    margin: 0.5rem 1rem;
    display: block;
}

.songtype{
    width: 5rem;
    height: 3rem;
    display: inline-block;
    margin: 0.4rem;
    //border-radius: 5rem;
    justify-content: center;
    align-items: center;

}

.songtypename{
    position: absolute;
    top: 9%;
    color: white;
    align-items: center;
    font-family: sans-serif;
    font-size: small;
    margin: 1rem;
    width: 100%;
}

.adcontent{
    display: inline-block;
    width: 70%;
}

.Recomd{
    width: 100%;
    margin: 5%;
}

.recomdCard{
    width: 27%;
    margin: 1.5%;
    display: inline-block;
}