<ion-card style="padding: 20px; height: 80%; border-radius: 12px;">
  <ion-icon style="position: absolute; font-size: xx-large;" name="grid-outline" (click)="songlist()"></ion-icon>
  <p style="text-align: center; margin: 0; font-size: xx-large; font-family: sans-serif; padding-bottom: 20px;">
    SONGS 
  </p> 
  <img src="https://images.unsplash.com/photo-1522673999312-93aa76caeda6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80" style="border-radius: 20px; height: 80%; width: 100%;">
  
</ion-card>
<ion-card style="border-radius: 8px; position: absolute; bottom: 0; width: 95%;">
  <div style="text-align: center; padding-top: 5%;"> 
  <div style="width: 33.33%; float: left; text-align: center; padding-bottom: 5%;">
    <ion-icon name="play-skip-back-sharp" style="font-size: xx-large;" ></ion-icon>
  </div>
  <div style="width: 33.33%; float: left; text-align: center; padding-bottom: 5%;">
    <ion-icon name="play-sharp" style="font-size: xx-large;"></ion-icon>
  </div>
  <div style="width: 33.33%; float: left; text-align: center; padding-bottom: 5%;">
    <ion-icon name="play-skip-forward-sharp" style="font-size: xx-large; padding-left: 15%;"></ion-icon>
  </div>
  </div>
</ion-card>